ol {
  -webkit-padding-start: 0px;
}

.bold {
  font-weight: bold;
}

.really-bold {
  font-weight: 700;
}

.big {
  font-size: 2em;
  padding: 6px;
}

.really-big {
  font-size: 4em;
}

.black-glow {
  text-shadow: 0 0 80px #010101;
}

.black-inset {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

.ccc-orange {
  color: #f15322;
}

.ccc-cream {
  color: #ecd290;
}

.ccc-blue {
  color: #688b8b;
}

.ccc-black {
  color: #010101;
}

.ccc-bg-orange {
  background-color: #f15322;
}

.ccc-bg-cream {
  background-color: #ecd290;
}

.ccc-bg-blue {
  background-color: #688b8b;
}

.ccc-bg-black {
  background-color: #010101;
}

.twitter-blue {
  color: #1da1f2;
}

.ccc-button {
  font-size: 60px;
  padding: 32px 64px;
  border-radius: 12px;
  border-width: 0px;
  color: whitesmoke;
  box-shadow: 0 0 80px #010101;
  text-shadow: 0 0 20px #010101;
}

.ccc-button.disabled,
.ccc-button:disabled {
  color: #aeaeae;
  opacity: 0.7;
}

.left {
  float: left;
}

.right {
  float: right;
}

.glyphicon.fast-spinner {
  -webkit-animation: glyphicon-spin-r 1s infinite linear;
  animation: glyphicon-spin-r 1s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.wrapper {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr) [3];
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas: " linkedin gif gif twitter " " reddit gif gif facebook " "tumblr gif gif pinterest";
}

.wrapper .gif {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: gif;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  width: 640px;
  height: 480px;
  background: black;
}

.wrapper .gif > img,
#one > img,
#two > img,
#three > img,
#four > img {
  -webkit-box-shadow: 0 0 80px black;
  box-shadow: 0 0 80px black;
  border: solid #ecd290 2px;
}

.wrapper section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75%;
  width: 75%;
  background: rgba(0, 0, 0, 0.8);
}

.wrapper section div,
.wrapper section svg {
  display: block;
  cursor: pointer;
}

.wrapper section div {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper section div svg {
  height: 96px;
  height: 9.6rem;
  width: 96px;
  width: 9.6rem;
}

@media (max-width: 1250px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    overflow: auto;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 510px 135px 135px;
    grid-template-rows: 510px 135px 135px;
    grid-template-areas: " gif gif " " twitter facebook " " reddit linkedin " "pinterest tumblr";
  }

  .wrapper .gif {
    margin-top: 30px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    display: block;
    overflow: auto;
  }

  .wrapper .gif {
    margin-top: 0;
    width: 100%;
    height: auto;
  }

  .wrapper .gif > img {
    width: 100%;
    height: auto;
  }

  .wrapper section {
    width: 100%;
    height: 100px;
    margin: 10px 0;
  }
}

section.facebook div:hover,
section.twitter div:hover,
section.linkedin div:hover,
section.reddit div:hover,
section.pinterest div:hover,
section.tumblr div:hover {
  color: #0e1a25;
  fill: #0e1a25;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out,
    -webkit-transform 0.5s ease-out;
}

section.facebook div:hover svg,
section.twitter div:hover svg,
section.linkedin div:hover svg,
section.reddit div:hover svg,
section.pinterest div:hover svg,
section.tumblr div:hover svg {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

section.facebook {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: facebook;
  -webkit-box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
}

section.facebook div {
  color: #3b5998;
  fill: #3b5998;
}

section.facebook div:hover {
  background: #3b5998;
}

section.twitter {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: twitter;
  -webkit-box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
}

section.twitter div {
  color: #1da1f2;
  fill: #1da1f2;
}

section.twitter div:hover {
  background: #1da1f2;
}

section.linkedin {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: linkedin;
  -webkit-box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
}

section.linkedin div {
  color: #00a0dc;
  fill: #00a0dc;
}

section.linkedin div:hover {
  background: #00a0dc;
}

section.reddit {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: reddit;
  -webkit-box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
}

section.reddit div {
  color: #ff4500;
  fill: #ff4500;
}

section.reddit div:hover {
  background: #ff4500;
}

section.pinterest {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pinterest;
  -webkit-box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
}

section.pinterest div {
  color: #bd081c;
  fill: #bd081c;
}

section.pinterest div:hover {
  background: #bd081c;
}

section.tumblr {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: tumblr;
  -webkit-box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
}

section.tumblr div {
  color: #4c75a3;
  fill: #4c75a3;
}

section.tumblr div:hover {
  background: #4c75a3;
}

.image-grid {
  display: grid;
  grid-template: "west one two east" "west three four east";
}

.image {
  display: none;
}

#west-logo {
  grid-area: west;
  align-self: center;
}

#west-logo > img {
  width: 20em;
  filter: drop-shadow(0 0 60px black);
}

#east-logo {
  grid-area: east;
  align-self: center;
}

#east-logo > img {
  width: 20em;
  filter: drop-shadow(0 0 60px black);
}

#one {
  padding: 10px;
  grid-area: one;
  text-align: right;
}

#two {
  padding: 10px;
  grid-area: two;
  text-align: left;
}

#three {
  padding: 10px;
  grid-area: three;
  text-align: right;
}

#four {
  padding: 10px;
  grid-area: four;
  text-align: left;
}
