<div id="page-contents">
  <div class="container">
    <div class="row">

      <!-- Newsfeed Common Side Bar Left
      ================================================= -->
      <div class="col-md-3 static">
        <div class="profile-card" *ngIf="signedUser$ | async as user">
          <img src="{{user.profilePhotoUrl}}" alt="user" class="profile-photo" />
          <h5><a href="timeline.html" class="text-white">{{user.userName}}</a></h5>
          <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
        </div>
        <!--profile card ends-->
        <app-timeline-sidebar [signedUser]="signedUser$ | async"></app-timeline-sidebar>
        <div id="chat-block">
          <div class="title">Chat online</div>
          <app-timeline-chat-online></app-timeline-chat-online>
        </div>
        <!--chat block ends-->
      </div>

      <div class="col-md-7">

        <!-- Post Create Box
        ================================================= -->
        <app-timeline-create-post></app-timeline-create-post>
        <!-- Post Create Box End-->

        <!-- Media
        ================================================= -->
        <div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-danger">
          Error: {{ errorMessage }}
        </div>

        <div class="media" *ngIf="videoPost$ | async as posts">
          <div class="grid-item col-md-6 col-sm-6" *ngFor="let post of posts">
            <div class="media-grid">
              <div class="img-wrapper" (click)="openModal('postvideo-modal',post.id)">
                <video controls>
                  <source src="{{post.videoUrl}}" *ngIf="post.videoUrl" type="video/mp4">
                </video>
              </div>
              <div class="media-info">
                <div class="reaction">
                  <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 46</a>
                  <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 11</a>
                </div>
                <div class="user-info">
                  <img src="{{post.createdByUserPhoto}}" alt="" class="profile-photo-sm pull-left" />
                  <div class="user">
                    <h6><a href="#" class="profile-link">{{post.createdByUserName}}</a></h6>
                    <a class="text-green" href="#">Friend</a>
                  </div>
                </div>
              </div>

              <!--Popup-->
              <jw-modal id="postvideo-modal">
                <div class="modal-dialog modal-lg" *ngIf="selectedPost">
                  <div class="modal-content">
                    <div class="post-content">
                      <div class="video-wrapper">
                        <video controls>
                          <source src="{{selectedPost.videoUrl}}" type="video/mp4">
                        </video>
                      </div>
                      <div class="post-container">
                        <img src="{{selectedPost.createdByUserPhoto}}" alt="user" class="profile-photo-md pull-left" />
                        <div class="post-detail">
                          <div class="user-info">
                            <h5><a href="timeline.html" class="profile-link">{{selectedPost.createdByUserName}}</a>
                              <span class="following">following</span></h5>
                            <p class="text-muted">Published a video at {{post.createdDate | date:'short' }}</p>
                          </div>
                          <div class="reaction">
                            <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                            <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                          </div>
                          <div class="line-divider"></div>
                          <div class="post-text">
                            <div [innerHTML]="selectedPost.text"></div>
                          </div>
                          <!--Divider-->
                          <div class="line-divider"></div>


                          <!-- Post Comments
                            ================================================= -->
                          <div *ngIf="post.comments">
                            <div class="post-comment" *ngFor="let comment of selectedPost.comments">
                              <img src="{{comment.createdByUserPhoto}}" alt="" class="profile-photo-sm" />
                              <div [innerHTML]="comment.text"></div>
                            </div>
                          </div>

                          <div class="post-comment" *ngIf="signedUser$ | async as user">
                            <img src="{{user.profilePhotoUrl}}" alt="" class="profile-photo-sm" />
                            <input type="text" class="form-control" *ngIf="commentField != post.id"
                              (click)="getCommentField(post.id)" placeholder="Post a comment">

                            <div *ngIf="commentField == post.id">
                              <form #commentCreateForm="ngForm" (ngSubmit)="saveComment(post.id)">
                                <app-ngx-editor [config]="editorConfig" required [(ngModel)]="commentCreate.text"
                                  name="text" id="text" class="form-control" class="form-cityadd ">
                                </app-ngx-editor>
                                <button class="btn btn-warning pull-right" (click)="closeCommentField()"
                                  style="margin-top: 10px; margin-left: 10px">Cancel</button>
                                <button class="btn btn-primary pull-right" [disabled]="!commentCreateForm.valid"
                                  style="margin-top: 10px" type="submit">Reply</button>
                              </form>
                            </div>

                          </div>
                          <!--End of the post comments-->

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </jw-modal>
              <!--Popup End-->

            </div>
          </div>

        </div>
      </div>

      <!-- Newsfeed Common Side Bar Right
      ================================================= -->
      <div class="col-md-2 static">
        <app-timeline-follow-user></app-timeline-follow-user>
      </div>
    </div>
  </div>
</div>