################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FriendFinder/v15
/FriendFinder.Api/FriendFinderSpa/node_modules
