<div id="page-contents">
  <div class="container">
    <div class="row">

      <!-- Newsfeed Common Side Bar Left
      ================================================= -->
      <div class="col-md-3 static">
        <div class="profile-card" *ngIf="signedUser$ | async as user">
          <img src="{{user.profilePhotoUrl}}" alt="user" class="profile-photo" />

          <h5><a href="timeline.html" class="text-white">{{user.userName}}</a></h5>
          <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
        </div>
        <!--profile card ends-->
        <app-timeline-sidebar [signedUser]="signedUser$ | async">

        </app-timeline-sidebar>
        <div id="chat-block">
          <div class="title">Chat online</div>
          <app-timeline-chat-online></app-timeline-chat-online>
        </div>
        <!--chat block ends-->
      </div>

      <div class="col-md-7">

        <!-- Post Create Box
        ================================================= -->
        <app-timeline-create-post [signedUser]="signedUser$ | async">
        </app-timeline-create-post>
        <!-- Post Create Box End-->

        <!-- Post Content
        ================================================= -->
        <app-timeline-post-list [posts]="posts$ | async" [newPost]="newPost$ | async" [newComment]="newComment$ | async"
          [signedUser]="signedUser$ | async">
        </app-timeline-post-list>
        <!--End of the post contents-->
      </div>

      <!-- Newsfeed Common Side Bar Right
      ================================================= -->
      <div class="col-md-2 static">
        <app-timeline-follow-user></app-timeline-follow-user>
      </div>
    </div>
  </div>
</div>