<!-- Top Banner
    ================================================= -->
<section id="banner">
	<div class="container">

		<!-- Sign In Form
				================================================= -->
		<div class="sign-up-form">
			<a href="index.html" class="logo"><img src="../../../assets/images/logo.png" alt="Friend Finder" /></a>
			<h2 class="text-white">Find My Friends</h2>
			<div class="line-divider"></div>
			<div class="form-wrapper">
				<p class="signup-text">Login now and meet awesome people around the world !</p>

				<!--Login Form -->
				<form #loginForm="ngForm" (ngSubmit)="login()">
					<fieldset class="form-group">
						<input type="text" class="form-control" name="userName" [(ngModel)]="loginUser.userName"
							placeholder="Enter username" required>
					</fieldset>
					<fieldset class="form-group">
						<input type="password" class="form-control" name="password" [(ngModel)]="loginUser.password"
							placeholder="Enter your password">
					</fieldset>

					<fieldset class="form-group">
							<input id="rememberName" type="checkbox" name="rememberMe"
								[(ngModel)]="loginUser.rememberMe" style="margin-left: -110px;" />
							<p style="float: left;">Remember Me</p>							
					</fieldset>

					<p>By signning up you agree to the terms</p>
					<button type="submit" [disabled]="!loginForm.valid" class="btn-secondary">Login</button>
				</form>
				<!---------------------------------->
			</div>
			<img class="form-shadow" src="../../../assets/images/bottom-shadow.png" alt="" />
		</div><!-- Sign Up Form End -->

		<svg class="arrows hidden-xs hidden-sm">
			<path class="a1" d="M0 0 L30 32 L60 0"></path>
			<path class="a2" d="M0 20 L30 52 L60 20"></path>
			<path class="a3" d="M0 40 L30 72 L60 40"></path>
		</svg>
	</div>
</section>

<!-- Live Feed Section
			================================================= -->
<section id="live-feed">
	<div class="container wrapper">

	</div>
</section>