<div id="chat-panel" class="chat-panel is-opened">
    <div class="panel-inner">
        <div class="panel-header">
            <h3>Details</h3>
            <div class="panel-close">
                <i data-feather="x"></i>
            </div>
        </div>

        <!-- Dan details -->
        <div id="dan-details" class="panel-body is-user-details">
            <div class="panel-body-inner">

                <div class="subheader">
                    <div class="action-icon">
                        <i class="mdi mdi-video"></i>
                    </div>
                    <div class="action-icon">
                        <i class="mdi mdi-camera"></i>
                    </div>
                    <div class="action-icon">
                        <i class="mdi mdi-microphone"></i>
                    </div>
                    <div class="dropdown details-dropdown is-spaced is-neutral is-right dropdown-trigger ml-auto">
                        <div>
                            <div class="action-icon">
                                <i class="mdi mdi-dots-vertical"></i>
                            </div>
                        </div>
                        <div class="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a href="#" class="dropdown-item">
                                    <div class="media">
                                        <i data-feather="user"></i>
                                        <div class="media-content">
                                            <h3>View profile</h3>
                                            <small>View this user's profile.</small>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item">
                                    <div class="media">
                                        <i data-feather="mail"></i>
                                        <div class="media-content">
                                            <h3>Send message</h3>
                                            <small>Send a message to the user's inbox.</small>
                                        </div>
                                    </div>
                                </a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item">
                                    <div class="media">
                                        <i data-feather="share-2"></i>
                                        <div class="media-content">
                                            <h3>Share profile</h3>
                                            <small>Share this user's profile.</small>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item">
                                    <div class="media">
                                        <i data-feather="x"></i>
                                        <div class="media-content">
                                            <h3>Block user</h3>
                                            <small>Block this user permanently.</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="details-avatar">
                    <img src="https://via.placeholder.com/300x300" data-demo-src="assets/images/avatars/dan.jpg" alt="">
                    <div class="call-me">
                        <i class="mdi mdi-phone"></i>
                    </div>
                </div>

                <div class="user-meta has-text-centered">
                    <h3>Dan Walker</h3>
                    <h4>IOS Developer</h4>
                </div>

                <div class="user-badges">
                    <div class="hexagon is-red">
                        <div>
                            <i class="mdi mdi-heart"></i>
                        </div>
                    </div>
                    <div class="hexagon is-green">
                        <div>
                            <i class="mdi mdi-dog"></i>
                        </div>
                    </div>
                    <div class="hexagon is-accent">
                        <div>
                            <i class="mdi mdi-flash"></i>
                        </div>
                    </div>
                    <div class="hexagon is-blue">
                        <div>
                            <i class="mdi mdi-briefcase"></i>
                        </div>
                    </div>
                </div>

                <div class="user-about">
                    <label>About Me</label>
                    <div class="about-block">
                        <i class="mdi mdi-domain"></i>
                        <div class="about-text">
                            <span>Works at</span>
                            <span><a class="is-inverted" href="#">WebSmash Inc.</a></span>
                        </div>
                    </div>
                    <div class="about-block">
                        <i class="mdi mdi-school"></i>
                        <div class="about-text">
                            <span>Studied at</span>
                            <span><a class="is-inverted" href="#">Riverdale University</a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>