<div class="col-md-2 static">
  <div id="sticky-sidebar">
    <h4 class="grey">{{user.userName}}'s activity</h4>
    <div class="feed-item">
      <div class="live-activity">
        <p><a routerLink="/profile/{{user.userName}}" class="profile-link">{{user.userName}}</a> Commended on a Photo</p>
        <p class="text-muted">5 mins ago</p>
      </div>
    </div>
    <div class="feed-item">
      <div class="live-activity">
        <p><a routerLink="/profile/{{user.userName}}" class="profile-link">{{user.userName}}</a> Has posted a photo</p>
        <p class="text-muted">an hour ago</p>
      </div>
    </div>
  </div>
</div>