<!--preloader-->
<div id="spinner-wrapper" *ngIf="loading$ | async">
  <div class="spinner"></div>
</div>

<div class="chat-wrapper is-standalone">
  <div class="chat-inner">
    <app-chat-header [signedUser]="signedUser$ | async"></app-chat-header>

    <app-chat-sidebar [groupUsers]="chatGroups$ | async" (onGroupSelect)="groupSelect($event)"></app-chat-sidebar>

    <app-chat-messages 
    [messages]="chatMessages$ | async" 
    [signedUser]="signedUser$ | async"
    [style.display]="!!showMessages ? 'block' : 'none'"
    (onSendMessage)="sendPrivateMessage($event)">
  </app-chat-messages>

    <app-chat-user-detail
     [style.display]="!!showMessages ? 'block' : 'none'"
     [memberDetails]="memberDetails$ | async">
    </app-chat-user-detail
    >
  </div>
</div>