<!--Edit Profile Menu-->
<ul class="edit-menu">
  <li><i class="icon ion-ios-information-outline"></i><a routerLink="/settings/information" routerLinkActive>Basic
      Information</a></li>
  <li><i class="icon ion-ios-briefcase-outline"></i><a routerLink="/settings/education" routerLinkActive>Education and
      Work</a></li>
  <li><i class="icon ion-ios-heart-outline"></i><a routerLink="/settings/interest" routerLinkActive>My Interests</a>
  </li>
  <li><i class="icon ion-ios-settings"></i><a routerLink="/settings/account" routerLinkActive>Account Settings</a></li>
  <li><i class="icon ion-ios-locked-outline"></i><a routerLink="/settings/password" routerLinkActive>Change Password</a>
  </li>
</ul>