<!--Edit Profile Menu-->
<ul class="edit-menu">
  <li><i class="icon ion-ios-information-outline"></i><a routerLink="/settings/account" >Basic
      Information</a></li>
  <li><i class="icon ion-ios-briefcase-outline"></i><a routerLink="/settings/education" >Education and
      Work</a></li>
  <li><i class="icon ion-ios-heart-outline"></i><a routerLink="/settings/interest" >My Interests</a>
  </li>
  <li><i class="icon ion-ios-settings"></i><a routerLink="/settings/notifications" >Account Settings</a></li>
  <li><i class="icon ion-ios-locked-outline"></i><a routerLink="/settings/password" >Change Password</a>
  </li>
</ul>