<div class="col-md-7">

  <!-- Change Password
          ================================================= -->
  <div class="edit-profile-container">
    <div class="block-title">
      <h4 class="grey"><i class="icon ion-ios-locked-outline"></i>Change Password</h4>
      <div class="line"></div>
      <p>You can change your password easily !</p>
      <div class="line"></div>
    </div>
    <div class="edit-block">
      <form name="update-pass" id="education" class="form-inline" [formGroup]="changePassForm"
        (ngSubmit)="updatePassword()">

        <div class="row">
          <div class="form-group col-xs-12">
            <label for="my-password">Old password</label>
            <input id="my-password" class="form-control input-group-lg" type="password" name="oldPassword"
              title="Enter your old password" formControlName="oldPassword" />
            <span class="help-block"
              *ngIf="changePassForm.get('oldPassword').hasError('required') && changePassForm.get('oldPassword').touched">
              Password is required
            </span>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-6">
            <label>New password</label>
            <input class="form-control input-group-lg" type="password" formControlName="newPassword" name="newPassword"
              title="Enter your new password" />

            <span class="help-block"
              *ngIf="changePassForm.get('newPassword').hasError('required') && changePassForm.get('newPassword').touched">
              Password is required
            </span>
            <span class="help-block"
              *ngIf="changePassForm.get('newPassword').hasError('minlength') && changePassForm.get('newPassword').touched">
              Password must be at least 4 characters
            </span>
            <span class="help-block"
              *ngIf="changePassForm.get('newPassword').hasError('maxlength') && changePassForm.get('newPassword').touched">
              Password cannot exceed 12 characters
            </span>
          </div>

          <div class="form-group col-xs-6">
            <label>Confirm password</label>
            <input class="form-control input-group-lg" type="password" name="confirmPassword"
              title="Enter your re-password" formControlName="confirmPassword" />
            <span class="help-block"
              *ngIf="changePassForm.get('confirmPassword').hasError('required') && changePassForm.get('confirmPassword').touched">
              Confirm password is required
            </span>
            <span class="help-block" *ngIf="changePassForm.get('confirmPassword').touched 
                      && changePassForm.hasError('misMatch')">
              Confirm password must match password
            </span>
          </div>

        </div>
        <p><a href="#">Forgot Password?</a></p>
        <button [disabled]="!changePassForm.valid" type="submit" class="btn btn-primary">Update Password</button>
      </form>
    </div>
  </div>
</div>