<div class="container">

  <!-- Timeline
  ================================================= -->
  <div class="timeline">
    <app-settings-navbar [signedUser]="signedUser$ | async"
    [newPhoto]="isNewPhoto$ | async" 
    [newCover]="isNewCover$ | async">

    </app-settings-navbar>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3">
          <app-settings-menu></app-settings-menu>
        </div>
        <div class="col-md-7">

          <!-- Edit Interests
          ================================================= -->
          <div class="edit-profile-container">
            <div class="block-title">
              <h4 class="grey"><i class="icon ion-ios-heart-outline"></i>My Interests</h4>
              <div class="line"></div>
              <p>You can edit your interests ! </p>
              <div class="line"></div>
            </div>
            <div class="edit-block">
              <ul class="list-inline interests">
                <li><a href=""><i class="icon ion-android-bicycle"></i> Bycicle</a></li>
                <li><a href=""><i class="icon ion-ios-camera"></i> Photgraphy</a></li>
                <li><a href=""><i class="icon ion-android-cart"></i> Shopping</a></li>
                <li><a href=""><i class="icon ion-android-plane"></i> Traveling</a></li>
                <li><a href=""><i class="icon ion-android-restaurant"></i> Eating</a></li>
              </ul>
              <div class="line"></div>
              <div class="row">
                <p class="custom-label"><strong>Add interests</strong></p>
                <div class="form-group col-sm-8">
                  <input id="add-interest" class="form-control input-group-lg" type="text" name="interest" title="Choose Interest" placeholder="Interests. For example, photography"/>
                </div>
                <div class="form-group col-sm-4">
                  <button class="btn btn-primary">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 static">       
          <!--Sticky Timeline Activity Sidebar-->
          <app-settings-activitiy [signedUser]="signedUser$ | async" >

          </app-settings-activitiy>
        </div>
      </div>
    </div>
  </div>
</div>
