<div id="page-contents">
  <div class="container">
    <div class="row">

      <!-- Newsfeed Common Side Bar Left
      ================================================= -->
      <div class="col-md-3 static">
        <div class="profile-card" *ngIf="signedUser$ | async as user">
          <img src="{{user.profilePhotoUrl}}" alt="user" class="profile-photo" />
          <h5><a routerLink="/profile/{{user.userName}}" class="text-white">{{user.userName}}</a></h5>
          <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
        </div>
        <!--profile card ends-->
        <app-timeline-sidebar [signedUser]="signedUser$ | async"></app-timeline-sidebar>
        <div id="chat-block">
          <div class="title">Chat online</div>
          <ul class="online-users list-inline">
            <li><a href="newsfeed-messages.html" title="Linda Lohan"><img src="http://placehold.it/300x300" alt="user"
                  class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
            <li><a href="newsfeed-messages.html" title="Sophia Lee"><img src="http://placehold.it/300x300" alt="user"
                  class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
            <li><a href="newsfeed-messages.html" title="John Doe"><img src="http://placehold.it/300x300" alt="user"
                  class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
            <li><a href="newsfeed-messages.html" title="Alexis Clark"><img src="http://placehold.it/300x300" alt="user"
                  class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
            <li><a href="newsfeed-messages.html" title="James Carter"><img src="http://placehold.it/300x300" alt="user"
                  class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
            <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="http://placehold.it/300x300" alt="user"
                  class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
            <li><a href="newsfeed-messages.html" title="Richard Bell"><img src="http://placehold.it/300x300" alt="user"
                  class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
            <li><a href="newsfeed-messages.html" title="Anna Young"><img src="http://placehold.it/300x300" alt="user"
                  class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
            <li><a href="newsfeed-messages.html" title="Julia Cox"><img src="http://placehold.it/300x300" alt="user"
                  class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
          </ul>
        </div>
        <!--chat block ends-->
      </div>

      <div class="col-md-7">

        <!-- Post Create Box
        ================================================= -->
        <app-timeline-create-post></app-timeline-create-post>
        <!-- Post Create Box End-->

        <!-- Media
        ================================================= -->
        <div *ngIf="errorMessage" class="alert alert-danger">
          Error: {{ errorMessage }}
        </div>

        <div class="media" *ngIf="imagePost$ | async as posts">
          <div class="grid-item col-md-6 col-sm-6" *ngFor="let post of posts">
            <div class="media-grid">
              <div class="img-wrapper" data-id="post.Id" (click)="openModal('custom-modal-1', post.id)">
                <img src="{{post.imageUrl}}" *ngIf="post.imageUrl" alt="" class="img-responsive post-image" />
              </div>
              <div class="media-info">
                <div class="reaction">
                  <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 63</a>
                  <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 12</a>
                </div>
                <div class="user-info">
                  <img src="{{post.createdByUserPhoto}}" alt="" class="profile-photo-sm pull-left" />
                  <div class="user">
                    <h6><a routerLink="/profile/{{post.createdByUserName}}"
                        class="profile-link">{{post.createdByUserName}}</a></h6>
                    <a class="text-green" href="#">Friend</a>
                  </div>
                </div>
              </div>

              <!--Popup-->
              <jw-modal id="custom-modal-1">
                <div class="modal-dialog modal-lg" *ngIf="selectedPost">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" (click)="closeModal('custom-modal-1');">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <div class="post-content">
                        <img src="{{selectedPost.imageUrl}}" *ngIf="selectedPost.imageUrl" alt="post-image"
                          class="img-responsive post-image" />
                        <div class="post-container">
                          <img src="{{selectedPost.createdByUserPhoto}}" alt="user"
                            class="profile-photo-md pull-left" />
                          <div class="post-detail">
                            <div class="user-info">
                              <h5><a routerLink="/profile/{{selectedPost.createdByUserName}}"
                                  class="profile-link">{{selectedPost.createdByUserName}}</a>
                                <span class="following">following</span></h5>
                              <p class="text-muted">Published a photo at {{post.createdDate | date:'short' }}</p>
                            </div>
                            <div class="reaction">
                              <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                              <div [innerHTML]="selectedPost.text"></div>
                            </div>
                            <!--Divider-->
                            <div class="line-divider"></div>

                            <!-- Post Comments
                            ================================================= -->
                            <div *ngIf="post.comments">
                              <div class="post-comment" *ngFor="let comment of selectedPost.comments">
                                <img src="{{comment.createdByUserPhoto}}" alt="" class="profile-photo-sm" />
                                <div [innerHTML]="comment.text"></div>
                              </div>
                            </div>

                            <div class="post-comment" *ngIf="signedUser$ | async as user">
                              <img src="{{user.profilePhotoUrl}}" alt="" class="profile-photo-sm" />
                              <input type="text" class="form-control" *ngIf="commentField != selectedPost.id"
                                (click)="getCommentField(selectedPost.id)" placeholder="Post a comment">

                              <div *ngIf="commentField == selectedPost.id">
                                <form #commentCreateForm="ngForm" (ngSubmit)="saveComment(selectedPost.id)">
                                  <app-ngx-editor [config]="editorConfig" required [(ngModel)]="commentCreate.text"
                                    name="text" id="text" class="form-control" class="form-cityadd ">
                                  </app-ngx-editor>
                                  <button class="btn btn-warning pull-right" (click)="closeCommentField()"
                                    style="margin-top: 10px; margin-left: 10px">Cancel</button>
                                  <button class="btn btn-primary pull-right" [disabled]="!commentCreateForm.valid"
                                    style="margin-top: 10px" type="submit">Reply</button>
                                </form>
                              </div>

                            </div>
                            <!--End of the post comments-->

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </jw-modal>
              <!--Popup End-->

            </div>

          </div>
        </div>

      </div>

      <!-- Newsfeed Common Side Bar Right
      ================================================= -->
      <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar">
          <h4 class="grey">Who to Follow</h4>
          <div class="follow-user">
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">Diana Amber</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
          <div class="follow-user">
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">Cris Haris</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
          <div class="follow-user">
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">Brian Walton</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
          <div class="follow-user">
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">Olivia Steward</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
          <div class="follow-user">
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">Sophia Page</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>