<div id="sticky-sidebar">
  <h4 class="grey">{{signedUser.userName}}'s activity</h4>
  <div class="feed-item">
    <div class="live-activity">
      <p><a href="#" class="profile-link">Isodgn</a> Commended on a Photo</p>
      <p class="text-muted">5 mins ago</p>
    </div>
  </div>
  <div class="feed-item">
    <div class="live-activity">
      <p><a href="#" class="profile-link">{{signedUser.userName}}'s</a> Has posted a photo</p>
      <p class="text-muted">an hour ago</p>
    </div>
  </div>
</div>